<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>报名</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/fix.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
</head>
<body>
<div>
    <div class="sign-up">
        <header class="header-background-color header-color">
            <div class="m-l-20px">
                <a>
                    <img class="fl" src="../img/箭头.png">
                    <div class="fl">会盟</div>
                </a>
            </div>
        </header>
        <div class="banner backimage">
            <div class="white-color">TechChruch 2015创新峰会 上海站</div>
        </div>
        <div class="statistic white-bg">
            <div class="content">
                <div class="fl lower m-r-017">已有</div>
                <div class="fl f-s-2">222</div>
                <div class="fl lower m-l-017">人报名</div>
            </div>
        </div>
        <div class="function border-tb-box white-bg gray-border">
            <div class="flex-box">
                <a href="" ng-click="goNext('signUp.html')">
                    <img src="../img/报名.png">
                    <div>报名</div>
                </a>
            </div>
            <div class="flex-box border-lr-box gray-border">
                <a href="" ng-click="goNext('scene.html')">
                    <img src="../img/现场.png">
                    <div>12天14时13分</div>
                </a>
            </div>
            <div class="flex-box">
                <a href="" ng-click="goNext('lookBack.html')">
                    <img src="../img/回顾.png">
                    <div>我的名片</div>
                </a>
            </div>
        </div>
        <footer class="white-bg">
            <div class="">Power by 苏州会盟信息科技</div>
        </footer>
    </div>
</div>
</body>
</html>